{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules":{
        "semi": "off",
        "linebreak-style": "off",
        "require-jsdoc": "off",
        "space-before-blocks":"off",
        "indent":"off",
        "comma-dangle":"off",
        "emptyRules": "off",
        "arrow-parens":"off",
        "operator-linebreak":"off",
        "max-len":"off"

    },
    "extends":["eslint:recommended", "google"]
}